{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="about-container">
    <div class="about-content">
        <h2>О нас</h2>
        <p>Добро пожаловать в нашу пиццерию! Мы стремимся предложить вам лучшую пиццу из свежих ингредиентов и по вкусным рецептам. Наше путешествие началось с простой идеи: создать место, где любители пиццы смогут насладиться вкусными блюдами в кругу семьи и друзей.</p>
        <p>Наша миссия - обеспечивать высокое качество блюд и исключительный сервис. Мы используем только лучшие ингредиенты, а наша пицца готовится с любовью и заботой. Независимо от того, обедаете ли вы в ресторане, на вынос или заказываете доставку, мы стремимся к тому, чтобы ваши впечатления были восхитительными.</p>
        <p>Спасибо, что выбрали нас! Мы с нетерпением ждем возможности обслуживать вас и стать вашей любимой пиццерией.</p>
    </div>
    <div class="about-Pizza">
        <img src="{{ url_for('static', filename='images/dominos-pizza.gif') }}" alt="Spinning Pizza">
    </div>
</div>
{% endblock %}