{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="account-container">
    <h2>Account</h2>
    <div class="account-info">
        <img src="{{ url_for('static', filename='acc_pics/' ~ current_user.image_file) }}" alt="Profile Picture" class="account-avatar">
        <div class="account-details">
            <form method="POST" enctype="multipart/form-data" class="account-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="username">Username:</label>
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="picture">Update Profile Picture:</label>
                    {{ form.picture(class="form-control-file") }}
                </div>
                <button type="submit" class="btn btn-primary form-submit-btn">Update</button>
            </form>
            <a href="{{ url_for('auth.logout') }}" class="logout-button">Logout</a>
        </div>
    </div>
</div>
{% endblock %}
