{% extends "base.html" %}
{% block title %}Админ Панель{% endblock %}
{% block content %}
<div class="container">
    <h2>Админ Панель</h2>
    <div class="admin-section">
        <h2>Управление меню</h2>
        <form method="POST" action="{{ url_for('admin.admin_add_menu_item') }}" enctype="multipart/form-data" class="manage-menu-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} 
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.price.label }} 
                {{ form.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.picture.label }} 
                {{ form.picture(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-submit-btn") }}
            </div>
        </form>
        
    </div>
    <div class="admin-section">
        <div class="menu-list">
            {% for item in menu_items %}
            <div class="menu-item">
                <img src="{{ url_for('static', filename='menu_pics/' ~ item.image_file) }}" alt="{{ item.name }}">
                <div class="menu-info">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>Цена: {{ item.price }}</p>
                    <form action="{{ url_for('admin.admin_delete_menu_item', item_id=item.id) }}" method="POST">
                        <button type="submit" class="delete-btn">Удалить</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="admin-section">
        <h3>Управление заказами</h3>
        <ul class="order-list">
            {% for order in orders %}
            <li class="order-item">
                <h3>Заказ #{{ order.id }}</h3>
                <p>Статус: {{ order.status }}</p>
                <p>Сумма: {{ order.total }}</p>
                <p>Пользователь: {{ order.customer.username }}</p>
                <p>Дата: {{ order.date_ordered }}</p>
                <ul class="order-items-list">
                    {% for item in order.items %}
                    <li class="order-item-detail">{{ item.quantity }} x {{ item.menu_item.name }}</li>
                    {% endfor %}
                </ul>
                <!-- Форма для обновления статуса заказа -->
                <form method="POST" action="{{ url_for('admin.admin_update_order_status', order_id=order.id) }}">
                    <select name="status">
                        <option value="Готовится" {% if order.status == 'Готовится' %}selected{% endif %}>Готовится</option>
                        <option value="В доставке" {% if order.status == 'В доставке' %}selected{% endif %}>В доставке</option>
                        <option value="Завершён" {% if order.status == 'Завершён' %}selected{% endif %}>Завершен</option>
                        <option value="Отменён" {% if order.status == 'Отменён' %}selected{% endif %}>Отменен</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Обновить статус</button>
                </form>
                <!-- Форма для удаления заказа -->
                <form method="POST" action="{{ url_for('admin.admin_delete_order', order_id=order.id) }}">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="admin-section">
        <h3>Управление пользователями</h3>
        <ul class="users-list">
            {% for user in users %}
            <li class="user-item">
                <div class="users-data">
                    <strong>Имя пользователя: {{ user.username }}</strong> 
                    <p>Email: {{ user.email }}</p>
                </div>
                <form method="POST" action="{{ url_for('admin.admin_update_user_role', user_id=user.id) }}">
                    <select name="role" class="role-select">
                        <option value="user" {% if user.role == 'user' %}selected{% endif %}>Пользователь</option>
                        <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Админ</option>
                    </select>
                    <button type="submit" class="role-change-button">Обновить роль</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}