<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заказ еды{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип">
                <span>Pizza Paradise</span>
            </a>
            
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">Главная</a></li>
                <li><a href="{{ url_for('main.about') }}">О нас</a></li>
                <li><a href="{{ url_for('main.contacts') }}">Контакты</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.account') }}" class="logout-button">Аккаунт</a></li>
                    <li><a href="{{ url_for('auth.logout') }}" class="logout-button">Выйти</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}" class="login-button">Войти</a></li>
                {% endif %}
                {% if current_user.role == 'admin' %}
                    <li><a href="{{ url_for('admin.administrator') }}" class="admin-panel-button">Админ Панель</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <h2 id="contacts">Контакты</h2>
            <p><strong>Адрес:</strong> Загородное ш., 36/2с5, Оренбург</p>
            <p><strong>Телефон:</strong> (123) 456-7890</p>
            <p><strong>Email:</strong> contact@pizza.com</p>
            <div class="social-media">
                <a href="#" class="social-icon">Facebook</a>
                <a href="#" class="social-icon">Twitter</a>
                <a href="#" class="social-icon">Instagram</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>