{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div id="promoCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="max-width:900px; max-height:900px;">
                <div class="carousel-item active">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/pizza-food.gif') }}" class="card-img-top" alt="Промо 1">
                        <div class="card-body">
                            <h5 class="card-title">Когда хочется чего-то обычного</h5>
                            <p class="card-text">Описание акции 1.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/pizza-collage.jpg') }}" class="card-img-top" alt="Промо 2">
                        <div class="card-body">
                            <h5 class="card-title">К лету готовы</h5>
                            <p class="card-text">Описание акции 2.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/cat-funny.gif') }}" class="card-img-top" alt="Промо 3">
                        <div class="card-body">
                            <h5 class="card-title">Привет, креветки!</h5>
                            <p class="card-text">Описание акции 3.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#promoCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#promoCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>
        <p></p>
        <video autoplay muted loop style="width: 100%; max-width: 900px; max-height: 900px;">
            <source src="{{ url_for('static', filename='video/pizza.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="home-container">
    <h2>Меню</h2>
    <div class="menu-list">
        {% for item in menu_items %}
        <div class="menu-item">
            <h3>{{ item.name }}</h3>
            <img src="{{ url_for('static', filename='menu_pics/' + item.image_file) }}" alt="{{ item.name }}">
            <p>{{ item.description }}</p>
            <p>Цена: ₽{{ item.price }}</p>
            <a class="cta" href="{{ url_for('main.order', item_id=item.id) }}"><button class="add-to-cart-btn">Добавить в корзину</button></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}